<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>
<button
type="button"
class="btn btn-primary dropdown-toggle">
Game Data
</button>

<div *ngFor="let game of games">
  <div class="card" style="width: 18rem;">
    <img src="{{ game.background_image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <h1>{{game.name}}</h1>
  <div *ngFor="let genre of game.genres">
    {{genre.name}}
  </div>


  {{game.rating}}




</div>

