@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Playfair+Display&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

.card {display:inline-block;}
.container {
  background-image: url("../assets/images/FFimage3.jpg");
  background-repeat: no-repeat;
}


 h3 {
  font-family: 'Trade Winds';
  font-size: 20px;
  background: linear-gradient(90deg, rgba(214,7,19,1) 0%, rgba(238,223,227,1) 100%);
  color: white;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  background: linear-gradient(90deg,(#33ACFF) 0%, rgba(238,223,227,1)100%);
  color: white;
}

my-app {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
  background-color: red;
  color: white;
}
